@import "../../global.scss";

.intro {
  background-color: $startcolor;
  // background-color: rgb(23, 30, 32);
  // background-image: url("https://cdn.pixabay.com/photo/2020/04/08/16/32/keyboard-5017973_960_720.jpg");
  // background-image: url("https://cdn.pixabay.com/photo/2014/05/27/23/32/matrix-356024_960_720.jpg");

  display: flex;
  @include mobile{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;


    img {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      background: rgb(225, 105, 125);
    
     
     
      @include mobile{
        width: 200px;
        height: 200px;
      }
     
    }
    

    flex: 0.5;
  }
  .right {
    flex: 0.5;

    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        // color: white;
        font-size: 40px;
        margin: 10px 0;
        @include mobile{
          font-size: 27px;
        }
      }
      h2 {
        // color: white;
        font-size: 35px;
        @include mobile{
          font-size: 30px;
        }
      }

      
      h3 {
        // color: white;
        font-size: 30px;
        display: flex;
        @include mobile{
          font-size: 20px;
        }
        span{
          font-size: inherit;
          color: crimson;
          margin-left: 4px;
          
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 35%;
      img {
        width: 30px;
        animation: blink 1.8s infinite;
      }
      @keyframes blink {
        0% {
          opacity: 0;
          
        }
        40% {
          opacity: 1;
          margin-bottom: 20px;
        }
        80% {
          opacity: 0;
          margin-bottom: 30px;
        }
        100% {
          opacity: 0;
          margin-bottom: 400px;
        }
      }
    }
  }
}
