@import "../../global.scss";

.work {
  background-color: rgb(151, 174, 137);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }

  .left-arrow {
    height: 40px;
    position: absolute;
    left: 15px;
    transform: rotate(90deg);
    cursor: pointer;
    @include mobile {
      display: none;
    }
  }
  .right-arrow {
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    transform: rotate(-90deg);
    @include mobile {
      display: none;
    }
  }
  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;
    justify-content: center;
    align-items: center;

    @include mobile {
      flex-direction: column;
      height: 80vh;
      justify-content: center;
      // align-items: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
     
      .item {
        height: 100%;
        width: 700px;
        background-color: rgb(249, 244, 249);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 90%;
          height: 200px;
          margin: 5px 0px;
        }
        .left {
          flex: 4;
          height: 80%;

          display: flex;
          align-items: center;

          @include mobile {
            flex: 6;
          }
          .leftContainer {
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .imgContainer {
              width: 70px;
              height: 70px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 40px;
                height: 50px;

                
              }
            }
            h2 {
              font-size: 20px;
              @include mobile {
                font-size: 12px;
              }
            }
            p {
              font-size: 13px;
              @include mobile {
                font-size: 11px;
              }
            }
            a {
              color: black;
              text-decoration: none;
              span {
                font-size: 12px;

                font-weight: 600;
                cursor: pointer;
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          overflow: hidden;
          @include mobile {
            flex: 6;
          }
          img {
            width: 350px;
            transform: rotate(-10deg);
            @include mobile {
              width: 230px;
            }
          }
        }
      }
    }
  }
}
