@import "../../global.scss";
.projects {
  background-color: $startcolor;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 65px;
    font-weight: 600;
    height: 20vh;
    &::-webkit-scrollbar {
      display: none;
    }
    @include mobile {
      font-size: 50px;
      height: 10vh;
    }
  }
  .container {
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
   

    &::-webkit-scrollbar {
      display: none;
    }

    @include mobile {
      height: 600px;
      width: 100%;
      margin-top: 50px;
      // margin-right: 20px;
      
    }

    justify-content: center;

    a {
      color: black;
      text-decoration: none;

      .card {
        width: 260px;

        border-radius: 10px;
        box-shadow: 0px 0px 15px -8px black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(0, 179, 255);
        margin: 10px 5px;
        cursor: pointer;
        transition: background-color 2s ease-out;
        @include mobile {
          // height: 700px;
          // width: 100%;
          // margin-right: 5px;
          
        }

        &:hover {
          background-color: aqua;
        
        }

        .top {
          display: flex;
          justify-content: center;
          h2 {
            font-size: 20px;
          }
        }
        .center {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;

          img {
            width: 300px;
            height: 110px;
          }
        }

        .bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 5px;
          .des {
            p {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}
