// $maincolor:#15023a;
$maincolor:#1e1630;
// $startcolor:#ebe5f4;
$startcolor:rgb(186, 232, 253);
$width:800px;


@mixin mobile {
    @media(max-width:#{$width}){
        @content
        
    }
    
}
